#add-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.25rem 0;
  transform: translateY(100%);
  z-index: 0;
  font-size: 1.2rem;
  background-color: #eff1f3;
  opacity: 0.25;
  border: 0;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  transition: all 350ms;
}

#add-button:hover {
  background-color: hsl(208, 70%, 80%);
  opacity: 0.9;
}
