.editor {
  width: 80%;
  max-height: 0;
  margin: auto;
  overflow: hidden;
  transition: all 500ms;
}

.editable-text.active .editor {
  max-height: 10rem;
  padding-top: 1rem;
}

.editor input[type="text"],
.editor textarea {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}

.editor .styles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}

.editor label {
  font-size: 0.85rem;
}

.editor .styles input {
  max-width: 40px;
}

.editor input[type="color"] {
  vertical-align: middle;
}

.editor .styles .form-group:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgb(218, 220, 224);
}
