aside {
  position: absolute;
  right: 0;
  top: 0;
  /* bottom: 0; */
  min-height: calc(100vh - 20px);

  display: flex;
  flex-direction: column;
  /* max-width: 0; */
  transition: all 1000ms;

  background-color: cornflowerblue;
  border-left: 1px solid rgb(44, 86, 165);
  box-shadow: -2px 0px 2px 0px rgba(0,0,0,0.2);

  padding: 10px;

  transform: translateX(100%);
}

aside.open {
  /* max-width: 500px; */
  transform: translateX(0%);
}

aside .editor {
  margin: 10px;
  margin-bottom: 1rem;
}

#sidebar-button {
  position: absolute;
  left: 0;
  top: 1rem;
  transform: translateX(-98%);
  margin: 0;
  padding: 7px 15px;
  background-color: cornflowerblue;
  border: 1px solid rgb(44, 86, 165);
  border-radius: 3px 0px 0px 3px;
  border-right: 0;
  font-size: 1rem;
  box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.2);
}

#add-button {
  align-self: center;
}

label {
  font-size: 0.85rem;
}

input[type="text"], textarea {
  font-size: 0.75rem;
  width: 100%;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

input[type="color"] {
  vertical-align: middle;
}

.styles {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.styles .form-group:not(:last-child) {
  margin-right: 20px;
}

.styles input {
  max-width: 40px;
}