wysiwyg-editable-heading {
  position: relative;
  display: block;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;

  transition: all 350ms;
}

wysiwyg-editable-heading:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-color: rgb(218, 220, 224);
}

wysiwyg-editable-heading[active] {
  margin-bottom: 1rem;
  background-color: #f4f4f4;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.edit-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  text-decoration: underline;
  color: #2a2d31;
  cursor: pointer;
  opacity: 0;
  transition: all 350ms;
}

wysiwyg-editable-heading:hover .edit-button,
wysiwyg-editable-heading[active] .edit-button {
  opacity: 1;
}
